table 
{
	border-collapse: collapse;
	width:100%;	
}

th, td 
{ 
	padding: 8px;
}

th 
{
	height: 50px;	
	background-color: #ff8000;
   color: black;
	font-weight: bold;
	text-align:left;	
	font-size 20px;
	font-family: 'Open Sans', sans-serif;
}

tr:nth-child(even){background-color: #ffb366}
tr:nth-child(odd){background-color:#ffe6cc}

body 
{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 10%;
	width:50%;
	height:100%;
	overflow: auto;
}

#wrapper
{
	width:1000px;
	height:auto;
	min-height: 100%
}

#pizza
{
	width:75%
	
}

#wrapper>div.image
{
	position: relative;
	left:45%;
	overflow: auto;
}

#wrapper>div.button
{
	position: relative;
	left: 50%;
	overflow: auto;
}

#wrapper>div.addrelative 
{
    position: relative;
    left: 50%;
    overflow: auto;
}

#wrapper>div.searchrelative
{
	position: relative;
	left:96%;
	font-family: 'Open Sans' : sans-serif;
	overflow: auto;
}


#wrapper>div.tablerelative
{
	position: relative;
	left:50%;
	overflow: auto;
}

input[type=text] 
{
	padding:5px; 
	border-width:1px; 
	border-radius: 8px;
	border-color: #ff8000;
}

input[type="text"]:focus
{
	background-color:#ffe6cc;
}

input[type="submit"]:hover 
{
	background: #fff;
	color:  #ff8000;
	border: 1px solid #ff8000;
	cursor: pointer;
}

input[type=submit] 
{
	background: #ff8000;
	color: #fff;
	border: 1px solid #ff8000;
	border-radius: 5px;
	padding: 5px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	overflow: auto;
}

button {
	font-family: 'Open Sans', sans-serif;
	background: #ff8000;
	color: #fff;
	width:10%;
	border: 1px solid #ff8000;
	border-radius: 5px;
	padding: 3px;
}

button:hover {
	background: #fff;
	color: #ff8000;
	border: 1px solid #ff8000;
	cursor: pointer;
}

.button1{
	padding: 16px;
	width: 48%;
}

a:link {
	color: #8c8c8c;
}

a:visited {
	color: #8c8c8c;
}

a:hover {
	color: #ff9933;
}

